Cython
imagesize
matplotlib
nncf
numpy
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python
openvino
pyaml
pycocotools
pytorch-lightning>=2.0.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
tqdm
